/* PHASE 3: Content */

.content {
    background: #fff;
    width: 900px;
    margin: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.content-sidebar {
    width: 180px;
    float: left;
    padding: 10px 30px;
}

.content-main {
    width: 620px;
    padding: 10px 20px;
    float: left;
}

.content h1 {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.content p {

}